<h1 class="text-center">Bienvenido al MERCADO web, seleccione su producto</h1>
<section class="py-5">
    <div class="container">
        <div class="row">
            {{#each products}}
                {{> products }}
            {{/each}}
        </div>
    </div>
</section>


