<h1 class="text-center">Bienvenido al MERCADO web, seleccione su producto</h1>
<section class="py-5">
    <div class="container">
        <div class="row">
            {{#each products}}
                {{> products }}
            {{/each}}
        </div>
    </div>
</section>

<div class="modal" tabindex="-1" id="productosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Productos Seleccionados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Carrito de compras: VACIO</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>


